body{
    background: #072227;
    font-family: "Bebas Neue";
}

.heading{
    color: #4FBDBA;
}

.row{
    width: 100%;
}

.timer{
    color: #fff;
    text-align: center;
    width: 20rem;
    height: 20rem;
    border: 5px solid #fff;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid transparent;
}

.fa-play, 
.fa-redo-alt,
.fa-github,
.fa-pause{
    color: #4FBDBA;
    border: 2px solid transparent;
    padding: 1rem;
    border-radius: 2rem;
}

.fa-play:hover,
.fa-redo-alt:hover,
.fa-github:hover,
.fa-pause:hover{
    color:#35858B;
    border: 2px solid #35858B;
    transition: 2 ease;

}

.show_message{
    display: block;
    padding: 1rem 0;
    color: #072227;
    background: #4FBDBA;
    border-radius: 0.5rem;
    transition: 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
